@media (max-width:720px) and (min-width:320px)
{

.collapse:not(.show)
{
    display: block;
}

.navbar-collapse
{
    width: 90%;
    display: flex;
    flex-wrap: wrap-reverse;
}
.navbar-nav 
{
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: 1em 0;
    text-align: start;
    align-items: flex-start;
}
.navbar-nav a
{ padding-right:1em;}}

@media (min-width:720px) and (max-width:1024px)

{
    .navbar-collapse
    {
        display: flex;
        width: 90%;
        align-items:flex-start;
    }

    .navbar-nav
    { 
        display: flex;
        flex-wrap: wrap;
    }
}