<div class="productCard" [ngClass]="{'finalProduct': finalProduct}">
  <div *ngIf="finalProduct" class="final__mark"> <h3>Закончилось :(</h3></div>
  <div  class="product__src "[routerLink]="['/product', product.id]"> 
    <img src="{{product.img}}" alt="" >
    <h2>{{product.title}}</h2>
 
  <p>{{product.price}} руб</p>
 </div>
  <a  class="button"  (click)="open(content)" >Заказать</a>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Оформить заказ</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="headPopup">
    <h3>Название: {{product.title}}</h3>
  </div>
<form [formGroup]="buyForm" novalidate (ngSubmit)="submit()">
<div class="modal-body">
 
    <div class="form-group">
      <h4>Ваши данные:</h4>
        <label for="name">Имя</label>
        <input type="text" id="name" formControlName="name">
        <label for="surname" >Фамилия</label>
        <input type="text" id="surname" formControlName="surname">
        <label for="email" >email</label>
        <input type="text" id="email" formControlName="email">
        <label for="phone" >Телефон</label>
        <input type="text" id="phone" formControlName="phone">
        <label for="count">Количество</label>
        <input  type="number" id="count" formControlName="count"  placeholder="{{product.count}}">
        <div class="validation" *ngIf="buyForm.controls['count'].invalid && buyForm.controls['count'].touched">
          <p>Такого количества товара нет в наличии.</p>
        </div>
        
    </div>
</div>
  <div class="modal-footer">
    <button type="submit" class="button"  [disabled]="buyForm.invalid || flagFalse==false">Заказать</button>
  </div>
 </form>
 <app-alert></app-alert>
</ng-template>
