<section class="header container-xl">
  <app-header></app-header>
</section>
<section class="container-fluid about">
  <div class="line"></div>
  <div class="about-wrap">
    <div class="about-img">
      <img src="assets/img/img2.png" alt="plantsfamily">
    </div>
    <div class="about-text">
      <h2>О нас</h2>
      <p>Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Aliquam ipsam ullam incidunt itaque nemo omnis temporibus totam quibusdam repellat vero,
        recusandae excepturi dignissimos velit et alias amet, quia facilis perferendis.</p>

      <div class="about-cotacts">
        <div class="contacts-wrap">
          <a href=""><img src="assets/img/facebook.png" alt="facebook"></a>
          <a href=""> <img src="assets/img/inst.png" alt="inst"></a>
          <a href=""> <img src="assets/img/vk.png" alt="vk"></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid products">
  <div class="line"></div>
  <h2>Наша продукция</h2>
  <div class="product">

  </div>
  <div class=""> <a href="" class="btn" [routerLink]="'/catalog'">Все товары ></a> </div>
</section>
<section class="container-fluid sent" id="sent">
  <div class="line"></div>
  <div class="sent-wrap">
    <div class="sent-text">
      <h2>Доставка</h2>
      <p>Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Aliquam ipsam ullam incidunt itaque nemo omnis temporibus totam quibusdam repellat vero,
        recusandae excepturi dignissimos velit et alias amet, quia facilis perferendis.</p>
    </div>
    <div class="sent-img">
      <img src="assets/img/sent.png" alt="plantsfamily">
    </div>

  </div>
</section>
<section class="container-fluid ">
  <div class="line"></div>
  <div class="block-wrap">
    <div class="block block1">
      <img src="assets/img/image9.png" alt="">
      <h3>Доставка в срок</h3>
      <p>в течении 3х дней </p>
    </div>
    <div class="block block1">
      <img src="assets/img/image10.png" alt="">
      <h3>Консультация по уходу</h3>
    </div>
    <div class="block block1">
      <img src="assets/img/image11.png" alt="">
      <h3>Довольные клиенты по всему миру</h3>

    </div>
    <div class="block">
      <img src="assets/img/image12.png" alt="">
      <h3>Наши контакты</h3>
      <p>8 984 747 47 37 </p>
    </div>

  </div>
</section>
<section class="container-xl contact" id="contact">
  <div class="line"></div>
  <div class="contact-wrap">
    <div class="info-wrap">
      <h2>Контакты</h2>
      <p>Alienum phaedrum torquatos nec eu, vis detraxit serpents periculiser ex, nihil expetendis in mei. Meis an
        pericula eres euripidis, hinces partem ei est. Eos ei nisl graecis.</p>
      <h3>Телефон: 8 983 743-47-47</h3>
      <h3>email: plants@mail.ru</h3>
      <div class="about-cotacts">
        <div class="contacts-wrap">
          <a href=""><img src="assets/img/facebook.png" alt="facebook"></a>
          <a href=""> <img src="assets/img/inst.png" alt="inst"></a>
          <a href=""> <img src="assets/img/vk.png" alt="vk"></a>
        </div>
      </div>
    </div>
    <div class="contact-form">
        <h2>Подписаться на новости</h2>
        <input type="text" name="email" id="" placeholder="Email">
        <a href="" class="btn">Подписаться</a>
    </div>
  </div>
</section>


<app-footer></app-footer>