<section>
  <div class="container-xl">
    <app-header></app-header>
  </div>
  <div class="loginAdmin">
    <div class="loginWrap">
<div class="alert alert-danger" *ngIf="authUserService.$error | async as error">
        {{error}}
      </div>

      <h2>Личный Кабинет</h2>
          <form [formGroup]="loginForm" novalidate (ngSubmit)="submitLog()">
        <label for="login">Логин</label>
        <input type="text" id="login" placeholder="email" formControlName="email">
        <div class="validation" *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
          <p>Проверьте корректность данных</p>
        </div><br>
        <label for="password">Пароль</label>
        <input type="password" id="password" formControlName="password">
        <div class="validation"
          *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
          <p>Проверьте корректность данных. Минимальная длина - 6</p>
        </div>
        <button class="button" [disabled]='loginForm.invalid'>Войти</button>
      </form>
      <div class="reg"><a (click)="open(content)">Регистрация</a></div>
    </div>
  </div>



  <ng-template #content let-modal>
    <app-alert></app-alert>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Регистрация</h4>
      <button class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> 
    <form [formGroup]="regForm" novalidate (ngSubmit)="submit()">
    <div class="modal-body">
     
        <div class="form-group">
            <label for="name">Имя</label>
            <input type="text" id="name" formControlName="name">
            <label for="surname" >Фамилия</label>
            <input type="text" id="surname" formControlName="surname" >
            <label for="email" >email</label>
            <input type="text" id="email" formControlName="email">
            <label for="phone" >Телефон</label>
            <input type="text" id="phone"  formControlName="phone">
            <label for="password">Пароль</label>
            <input type="text" id="password" formControlName="password">
        </div>
    </div>
    <div class="modal-footer">
      <button type="submit" [disabled]="regForm.invalid" class="button">Зарегистрироваться
      </button>
    </div>
    </form>
  </ng-template>

</section>
<!--
  (click)="modal.close('Save click')"
-->