<section>
    <div class="container-xl">
    <app-header></app-header>
</div>
<div class="loginAdmin">
    <div class="loginWrap">
        
        <h2>Админка Plants</h2>
        <form action="">
    <label for="login">Логин</label>
    <input type="text" id="login"><br>
    <label for="password">Пароль</label>
    <input type="password" id="password">
    <button>Войти</button>
        </form>
        <div class="reg"><a href="/login/#popup1">Регистрация</a></div>
    </div>
    </div>
</section>

<div id="popup1" class="overlay">
	<div class="popup">
		<h2>Here i am</h2>
		<a class="close" href="/login/#">&times;</a>
		<div class="content">
			Thank to pop me out of that button, but now i'm done so you can close this window.
		</div>
	</div>
</div>