section
{
    background-image: url('/assets/img/login.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 100vh;
    width: 100%;
}
.loginAdmin{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:flex-start;
}

.loginWrap 
{
    width: 50%;
   
}

.loginAdmin h2 
{
    color: black;
    text-align: center;
    align-items: center;
}

.loginWrap form 
{
    align-items: center;
    text-align: center;
    margin-top: 4em;
}

form input
{
    margin: 1em 1em;
    width: 350px;
    border: 2px solid #80B435;
}
form label
{
    color: black
}

button
{
width: 200px;
height: 40px;
background: #80B435;
border-radius: 50px;
display: block;
color: white;
padding-top: 3px;
border: 2px solid #80B435;
font-size: 18px;
margin: 0 auto;
}

button:hover
{
  background: #ffff;
  border: 2px solid #80B435;
  color: #80B435;
}

.loginWrap .reg 
{
    text-align: center;
    align-items: center;
    margin-top: 3em;
}

.loginWrap a 
{
    color: #80B435;
    border-bottom: 2px solid #80B435;
    text-decoration: none;

}

.loginWrap a:hover
{
text-decoration: none;
border-bottom: transparent;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }