<h2>Заказы</h2>
<div class="order__filters">
  <input type="text" name="" id="" placeholder="найти" [(ngModel)]="search">
<a (click)="flag=!flag" (click)="sortOrder(flag)">Сортировка по статусу</a></div>

<div class="orderFlex">
  <div *ngFor="let order of orders | orderSearch:search">

    <div class="orderWrap" [ngClass]="{'orangeColor': order.stat}">
      <p>Id заказа: {{order.id}}</p>
      <h4>Имя: {{order.name}}</h4>
      <p>Фамилия: {{order.surname}}</p>
      <p>email: {{order.email}}</p>
    
      <p>Телефон: {{order.phone}}</p>
      <p >Продукт:<span *ngFor="let prod of order.productId">{{prod.Prodname}} - {{prod.count}}<br></span> {{order.productTitle}}</p>
      <p >Количество: {{order.count}}</p>
      <p>Статус: {{order.status}}</p>
       <a class="btn_del" (click)="delete(order.id)">Завершить</a>
       <a class="btn__ord" (click)="accept(order)">Принять</a>
    
   </div>

  </div>
</div>


