<div class="container-fluid header">
  <div class="container-xl">
    <app-header></app-header>
  </div>
  <h2>Каталог</h2>
</div>
<section class=" container-xl sort">
  <div class="sortWrap">
    <div class="filterWrap"><p>Сортировка:</p>
    <button class="button btn">По цене</button></div>
    <input type="text" class="input" placeholder="Найти" [(ngModel)]="search">
    
  </div>
</section>
<div class="container-xl">
  <div  *ngIf="products$ | async as products; else loading">
   <div class="cardWrap">
     <app-products-catalog class="wrap"  *ngFor="let product of products | searchProduct:search" [product]="product"></app-products-catalog>
 </div> </div>
</div>
<ng-template #loading>
  <img src="assets/img/loader.png" alt="">
  <h2>Загружаю</h2>
</ng-template>
