<div class="header">
    <app-header></app-header>
  <h1>Каталог</h1>
</div>
<section class="container-xl sort">
  <div class="sortWrap">
    <div class="filterWrap"><p>Сортировка:</p>
    <button class="button btn" (click)="flag=!flag" (click)="fetchProduct(flag, 1)">По цене</button>
    <button class="button btn" (click)="flag=!flag" (click)="fetchProduct(flag, 2)">По наличию</button></div>
    <input type="text" class="input" placeholder="Найти" [(ngModel)]="search">
    
  </div>
</section>
<div class="container-xl">
  <div  *ngIf="productEl else loading">
   <div class="cardWrap">
     <app-products-catalog class="cardWrap__card" [product]="product"  *ngFor="let product of productEl" ></app-products-catalog>
 </div> </div>
</div>
<ng-template #loading>
  <div class="loading">
  <img src="assets/img/loader.png" alt="">
  <h2>Загружаю...</h2>
</div>
</ng-template>
