/* You can add global styles to this file, and also import other style files */
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";
@import url(~fullpage.js/dist/fullpage.min.css);
@import 'mixins';
@import 'var';




* {
  margin: 0;
  padding: 0;
}

body {
  background: $backgroung_gradient;
  cursor: default;
  margin: 0 auto;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

p {
  @include p;
}

a {
  @include a;

  &:hover {
    text-decoration: none;
  }
}
   .ql-editor  span, .ql-editor  p, .ql-editor  strong
 {
   background:linear-gradient(90deg, #F7F7F7 2.38%, #F9F9F9 24.63%, #F9FBFA 50%) !important;
 }
 .ql-container
 {
   height: fit-content;
 }
 .ql-editor 
 {
   padding: 0;
 }

.loading {
  margin: 2em auto;
  text-align: center;
}

.contact .fp-tableCell {
  vertical-align: bottom;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}


/*--- Для страниц---*/
.firstScreen .fp-tableCell {
  vertical-align: bottom;
}



@media (min-width:320px) and (max-width:768px) {
  div#fp-nav {
    display: none;
  }

  section {
    height: auto !important;
  }

  div.fp-tableCell {
    height: auto !important;
  }

  h2 {
    font-size: 24px;
    line-height: 28px;
  }

  p {
    font-size: 16px;
    ;
  }
}
  @media (min-width:769px) and (max-width:1024px) {
    h2 {
      font-size: 30px;
    }

    p
    {
      font-size: 16px;
    }
    section .fp-tableCell
    {
      height: auto !important;
    }
   
 
  }

