/* You can add global styles to this file, and also import other style files */
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";

*
{
    margin: 0;
    padding: 0;
}
body{
    background:linear-gradient(90deg, #F7F7F7 2.38%, #F9F9F9 24.63%, #F9FBFA 50%) !important;
    cursor:default;
}

h2, .h2
{
font-family: 'Roboto Mono', monospace;
font-style: normal;
font-weight: 300 !important;
font-size: 36px;
line-height: 42px;
}

.h3, h3
{
font-family: 'Roboto Mono';
font-style: normal;
font-weight: 400;
font-size: 18px !important;
line-height: 21px;
}

p
{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

a
{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}
a:hover
{
    text-decoration: none;
}

.loading
{ 
    margin: 2em auto;
    text-align: center;
}

@media (min-width: 1200px){

    .container-xl
    {
        max-width: 1300px !important;
    }
}