<app-alert></app-alert>
<div class="menuWrap">
    <a href=""><img src="assets/img/logo.png" alt=""></a>
    <div class="menuFlex">
    <ul>
   <li> <a href="" [routerLink]="'/admin/dashboard'" routerLinkActive="active">Товары</a></li>
    <li> <a href="" [routerLink]="'/admin/add'" routerLinkActive="active">Добавить товар</a></li>
    <li><a href="" [routerLink]="'/admin/account'" routerLinkActive="active">Подписки</a></li> 
    <li><a href="" [routerLink]="'/admin/order'" routerLinkActive="active">Заказы</a></li>
    <li>
        <a href="" (click)="logout($event)">Выйти</a>
    </li>
</ul></div>
</div>
<div class="cont">
<router-outlet></router-outlet>
</div>